[submodule "packages/automate"]
	path = packages/automate
	url = git@github.com:Obsidian-OS/automate
[submodule "packages/browser"]
	path = packages/browser
	url = git@github.com:Obsidian-OS/browser.git
[submodule "packages/spreadsheet"]
	path = packages/spreadsheet
	url = git@github.com:Obsidian-OS/spreadsheet.git
[submodule "packages/sys-ctl"]
	path = packages/sys-ctl
	url = git@github.com:Obsidian-OS/sys-ctl.git
[submodule "packages/terminal"]
	path = packages/terminal
	url = git@github.com:Obsidian-OS/terminal
[submodule "packages/expression"]
	path = packages/expression
	url = git@github.com:Obsidian-OS/expressions.git
[submodule "packages/logicx"]
	path = packages/logicx
	url = git@github.com:Obsidian-OS/logicx
