.logicx-root, .logicx-root * {
    --toolbar-width: auto;
    --toolbar-height: auto;
}

.logicx-root {
    display: grid;

    grid-template-rows: var(--toolbar-height) 1fr var(--toolbar-height);
    grid-template-columns: var(--toolbar-width) 1fr var(--toolbar-width);

    grid-template-areas:
        "top  top      top"
        "left viewport right"
        "left bottom   right";

    width: 100%;
    height: 100%;
}

.logicx-viewport {
    grid-area: viewport;
}

.logicx-toolbar {
    display: flex;

    align-items: center;
    justify-content: flex-start;
}

.logicx-toolbar.vertical {
    flex-direction: column;
}

.logicx-toolbar.horizontal {
    flex-direction: row;
}

.logicx-toolbar.left {
    grid-area: left
}

.logicx-toolbar.right {
    grid-area: right
}

.logicx-toolbar.top {
    grid-area: top
}

.logicx-toolbar.bottom {
    grid-area: bottom
}