[data-type="logicx-view"] .view-content {
    margin: 0;
    padding: 0;

    display: grid;

    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    grid-template-areas:
        "toolbar    toolbar"
        "components surface";

    width: 100%;
    height: 100%;
}

.logicx-surface {
    grid-area: surface;

    width: 100%;
    height: 100%;
}

.logicx-surface {
    text {
        fill: var(--text-normal);
        dominant-baseline: hanging;
    }

    .logicx-component-outline {
        stroke: var(--text-normal);
        fill: var(--background-secondary-alt)
    }
}